@import './base.css';

*{
  font-family: Roboto;
  font-weight: normal;
  color: #eee;
}

body{
  margin: 0;
  background-color: #282828;
}

body, html {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

p{
  font-size: 19px;
}