@import './base.css';

* {
  font-family: Roboto;
  font-weight: normal;
  /* color: #eee; */
  user-select: none;
}

body {
  margin: 0;
  background-color: #282828;
}

body,
html {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

p {
  font-size: 19px;
}

/* Hide all scrollbars */

/* *::-webkit-scrollbar {
  width: 0;
}
*::-webkit-scrollbar-thumb, *::-webkit-scrollbar-track {
  display: none;
} */